/* Ocupa toda la pantalla y centra todo */
html, body, #root {
  height: 100%;
  width: 100vw;
  margin: 0;
  padding: 0;
}

#root {
  display: flex;
  justify-content: center; /* centra horizontal */
  align-items: center;     /* centra vertical */
  background-color: teal;
  font-family: Arial, sans-serif;
}

